.tabs {
  margin: 2rem;
  width: 55rem;
  position: relative;
}
.tabs__list-wrapper {
  border-bottom: 1px solid var(--grey-light-color);
}
.tabs__list-wrapper .tabs__toggle {
  display: none;
  font-size: 1.6rem;
  padding: 1rem;
}
.tabs__list-wrapper .tabs__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-width: 100%;
}

.tabs__list .tabs__item {
  margin-right: 1rem;
}
.tabs__list .tabs__item > a {
  display: block;
  padding: 1rem;
  position: relative;
}
.tabs__list .tabs__item > a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 1px;
  transition: all 0.2s;
  background-color: var(--secondary-color);
  display: block;
}
.tabs__list .tabs__item > a.active::after {
  width: 100%;
  left: 0;
}

.tabs__content {
  padding: 1rem;
  height: 24rem;
  display: none;
  /* margin-top: 2rem; */
}

@media screen and (max-width: 992px) {
  .tabs__list-wrapper {
    position: relative;
    z-index: 1;
    height: 4.5rem;
  }
  .tabs__list-wrapper .tabs__toggle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .tabs__list-wrapper .tabs__list {
    display: none;
    min-width: 17rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border-radius: 0.3rem;
  }
  .tabs__list-wrapper .tabs__list.active {
    display: flex;
  }
  .tabs__list-wrapper .tabs__list::before {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    background-color: white;
  }
  .tabs__content {
    position: relative;
  }
}
