/* ------------- THEME ------------- */
:root {
  --primary-color: #5eff73;
  --secondary-color: #8f0018;
  --primary-text-color: #3e3e54;
  --secondary-text-color: #cccccc;
  --grey-text-color: #58647b;
  --grey-light-color: #eaeaea;
}
